:root {
    --main-color: #D19965;
    --layer3: #C578DD;
    --layer2: #21242B;
    --layer1: #272B33;
    --text-background: darken(#AAB1BF, 26%);
    --inactive-text: #eeeeee;
    --border-line: #292929;
    
    --layer2-rgb: 33, 36, 43;
    --icon-color: #56B5C2;
}
