:root {
    --main-color: #ECE493;
    --layer3: #84A1BE;
    --layer2: #5C7893;
    --layer1: #3C5873;
    --text-background: #4C6883;
    --inactive-text: #eeeeee;
    --border-line: #292929;

    --layer2-rgb: 92, 120, 147;
    --icon-color: white;
}
