:root {
    --main-color: #F2F1E7;
    --layer3: #A96851;
    --layer2: #915B4A;
    --layer1: #5C4D4D;
    --text-background: #6C5D5D;
    --inactive-text: #eeeeee;
    --border-line: #292929;

    --layer2-rgb: 145, 91, 74;
    --icon-color: white;
}
