:root {
    --main-color: #2196F3;
    --layer3: #EEEEEE;
    --layer2: #F5F5F5;
    --layer1: white;
    --text-background: #FAFAFA;
    --inactive-text: #eeeeee;
    --border-line: #757575;

    --layer2-rgb: 49, 49, 49;
    --icon-color: white;
}
