:root {
    --main-color: #80d8ff;
    --layer3: #414141;
    --layer2: #313131;
    --layer1: #212121;
    --text-background: #2a2a2a;
    --inactive-text: #eeeeee;
    --border-line: #757575;

    --layer2-rgb: 49, 49, 49;
    --icon-color: white;
}
