:root {
    --main-color: #EE9A45;
    --layer3: #5E2B2B;
    --layer2: #6E3B3B;
    --layer1: #7E4B4B;
    --text-background: #8E5B5B;
    --inactive-text: #eeeeee;
    --border-line: #292929;

    --layer2-rgb: 110, 59, 59;
    --icon-color: white;
}
