:root {
    --main-color: #F99A8F;
    --layer3: #BB8082;
    --layer2: #6E7582;
    --layer1: #046582;
    --text-background: #4C6883;
    --inactive-text: #eeeeee;
    --border-line: #292929;

    --layer2-rgb: 92, 117, 130;
    --icon-color: white;
}
